<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacta con Edusmart</title>
    <link rel="stylesheet" href="/stylesheets/form1.css" />
  </head>
  <body>
    
    <section class="contact">
        
      <div class="content">
        <div class="caja"><a class="form1" href="/">Volver</a></div>
        <h2>Contacta con Edusmart</h2>
        <p>
            Edusmart fue fundada en 2024 por un grupo de estudiantes innovadoras que creen en el potencial de la tecnología para transformar 
            la manera de educación online, desde su creación, la empresa ha crecido rápidamente implementando soluciones innovadoras que han 
            transformado la manera en que las personas aprenden y enseñan
        </p>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="text">
              <h3>Direccion</h3>
              <p>
                <br />San Juan, Guarico<br />
              </p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><ion-icon name="call-outline"></ion-icon></div>
            <div class="text">
              <h3>Telefono</h3>
              <p>0412.8040781</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
            <div class="text">
              <h3>Correp</h3>
              <p>edusmart03@gmail.com</p>
            </div>
          </div>
          <h2 class="txt">Redes</h2>
          <ul class="sci">
            <li>
              <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            </li>
            <li>
              <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            </li>
            <li>
              <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            </li>
            <li>
              <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            </li>
          </ul>
        </div>

        <div class="contactForm">
          <form>
            <h2>Enviar Mensaje</h2>
            <div class="inputBox">
              <input type="text" name="" required="required" />
              <span style="margin-left: 10px;"> <b>Nombre completo</b> </span>
            </div>
            <div class="inputBox">
              <input type="text" name="" required="required" />
              <span style="margin-left: 10px;"><b>Correo</b> </span>
            </div>
            <div class="inputBox">
              <textarea required="required"></textarea>
              <span style="margin-left: 10px;"> <b>Asunto</b></span>
            </div>
            <div class="inputBox">
              <input type="submit" value="Send" />
            </div>
          </form>
        </div>
      </div>
    </section>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>