<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Edusmart
    </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Edusmart" />
    <meta name="url" content="https://www.google.com/imgres?q=algoritmo&imgurl=https%3A%2F%2Fs1.significados.com%2Ffoto%2Falgoritmo-og.jpg&imgrefurl=https%3A%2F%2Fwww.significados.com%2Falgoritmo%2F&docid=EB8hOvqO-I0yJM&tbnid=7Ui3oV5jMFo10M&vet=12ahUKEwjJzOWjs5GLAxVdVTABHW0YBIsQM3oECBUQAA..i&w=1400&h=1050&hcb=2&ved=2ahUKEwjJzOWjs5GLAxVdVTABHW0YBIsQM3oECBUQAA" />
    <meta name="copyright" content="Edusmart" />
    <meta property="site_name" content="Edusmart" />
    <link
      rel="icon"
      href="/images/logo/logo2.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="overlay" data-overlay></div>
    
    <header>
      <div class="header-top" id="#menu-title">
        <div class="container">
          <ul class="header-social-container">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-snapchat"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-reddit"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>

          

          <div class="header-top-actions">
            <select name="language">
              <option value="es">Español</option>
              <option value="en-US">ingles</option>

            </select>
          </div>
        </div>
      </div>

      <div class="header-main">
        <div class="caja"><a class="form1" href="/form1">Contactanos</a></div>
        
        <div style="text-align: center; font-size: 50px;font-style: italic;text-shadow: 2px 2px 4px rgb(24, 20, 95);"> Edusmart s.a</div>
        <div class="container">
          <a href="#" class="header-logo">
            <img
              src="/images/logo/logo2.png"
              alt="ByteWebster's logo"
              width="100%"
              height="120"
              style="border-radius: 20%; border: solid 3px rgb(65, 64, 64);"
            />
          </a>

          <div class="header-search-container">
            <input
              type="search"
              name="search"
              class="search-field"
              placeholder="Buscar Curso..."
            />

            <a class="search-btn" href="#cursos" >
              <ion-icon name="search-outline"></ion-icon>
            </a>
          </div>

         
        </div>
      </div>

      <nav class="desktop-navigation-menu">
        <div class="container">
          <ul class="desktop-menu-category-list">
            <li class="menu-category">
              <a href="#" class="menu-title" id="inicio">Home</a>
            </li>

            <li class="menu-category">
              <a href="#" class="menu-title">Cursos</a>

              <div class="dropdown-panel">
                <ul class="dropdown-panel-list">
                  <li class="menu-title">
                    <a href="#">Proximamente</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Matematicas</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Fisica</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Programacion</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Logica Matematica</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Legislación Informatica </a>
                  </li>
                  <li class="panel-list-item">
                    <a href="#">Probabilidad Y Estadistica</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">
                      <img
                        src="/images/estudios1.jpg"
                        alt="El conocimiento es poder"
                        width="250"
                        height="119"
                      />
                    </a>
                  </li>
                </ul>

                <ul class="dropdown-panel-list">
                  <li class="menu-title">
                    <a href="#">Mas Cursos</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Derivadas</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Integrales</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Metodos Numericos</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Investigacion De Operaciones</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">Redes</a>
                  </li>
                  <li class="panel-list-item">
                    <a href="#">Algoritmo</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="#">
                      <img
                        src="/images/estudios2.jpg"
                        alt="Nutre tu vida aprendiendo mas"
                        width="250"
                        height="119"
                      />
                    </a>
                  </li>
                </ul>

                

                

                
            </li>

           
           

            
        </div>
      </nav>



    </header>
    <main>
      <div class="banner">
        <div class="container">
          <div class="slider-container has-scrollbar">
            <div class="slider-item">
              <img
                src="/images/banner-a.jpg"
                
                class="banner-img"
              />

              <div class="banner-content">
                <p class="banner-subtitle"></p>

                <h2 class="banner-title">Aprende a tu ritmo desde donde estés</h2>

                

                <a href="#inicio" class="banner-btn">iniciar</a>
              </div>
            </div>

            <div class="slider-item">
              <img
                src="/images/banner-b.jpg"
                
                class="banner-img"
              />

              <div class="banner-content">
                <p class="banner-subtitle"></p>

                <h2 class="banner-title">Tu haula, tu horario, tu futuro</h2>

                

                <a href="#inicio" class="banner-btn">Iniciar</a>
              </div>
            </div>

            <div class="slider-item">
              <img
                src="/images/banner-c.jpg"
                
                class="banner-img"
              />

              <div class="banner-content">
                <p class="banner-subtitle"></p>

                <h2 class="banner-title">Desafia lo convencional, estudia online</h2>

              

                <a href="#inicio" class="banner-btn">Iniciar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="category">
        <div class="container">
          <div class="category-item-container has-scrollbar">
            <div class="category-item">
              <div class="category-img-box">
                <img
                  src="/images/icons/b1.png"
                  
                  width="50"
                />
              </div>

              <div class="category-content-box">
                <div class="category-content-flex">
                  <h3 class="category-item-title">El Mundo Es Tu Campus</h3>

                  
                </div>

                <a href="#inicio" class="category-btn">Ver Mas...</a>
              </div>
            </div>

            <div class="category-item">
              <div class="category-img-box">
                <img
                  src="/images/icons/b2.png"
                  
                  width="50"
                />
              </div>

              <div class="category-content-box">
                <div class="category-content-flex">
                  <h3 class="category-item-title">Titulo Sin Barreras</h3>

                  
                </div>

                <a href="#inicio" class="category-btn">Ver Mas...</a>
              </div>
            </div>


            <div class="category-item">
              <div class="category-img-box">
                <img
                  src="/images/icons/b3.png"
                  
                  width="50"
                />
              </div>

              <div class="category-content-box">
                <div class="category-content-flex">
                  <h3 class="category-item-title">Educación De Calidad</h3>

                 
                </div>

                <a href="#inicio" class="category-btn">Ver Mas...</a>
              </div>
            </div>

            <div class="category-item">
              <div class="category-img-box">
                <img
                  src="/images/icons/b4.png"
                  
                  width="50"
                />
              </div>

              <div class="category-content-box">
                <div class="category-content-flex">
                  <h3 class="category-item-title">Aprende Mas </h3>

                  
                </div>

                <a href="#inicio" class="category-btn">Ver Mas...</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="product-container">
        <div class="container">
          

          <div class="product-box">
          

            <div class="product-featured">

              <div class="showcase-wrapper has-scrollbar">
                <div class="showcase-container">
                  <div class="showcase">
                    <div class="showcase-banner">
                      <img
                        src="/images/somos.jpg"
                        
                        class="showcase-img"
                      />
                    </div>

                    <div class="showcase-content">
                   

                    <h3 class="title" style="text-align: center; font-size: 36px;font-style: italic;text-shadow: 2px 2px 4px rgb(24, 20, 95);">¿Quienes Somos?</h3>
                    <br>


                      <p class="showcase-desc" style="text-align: justify; text-indent: 40px;">
                        En Edusmart, creemos en el poder transformador de la educación accesible y de calidad. 
                        Somos una empresa líder en tele-educación dedicada a crear cursos innovadores y atractivos
                         para estudiantes de todas las edades y niveles.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="showcase-container">
                  <div class="showcase">
                    <div class="showcase-banner">
                      <img
                        src="/images/mision.jpg"
                        
                        class="showcase-img"
                      />
                    </div>

                    <div class="showcase-content">
                      

                      <h3 class="title" style="text-align: center; font-size: 36px;font-style: italic;text-shadow: 2px 2px 4px rgb(24, 20, 95);">Misión</h3>

                      <p class="showcase-desc" style="text-align: justify; text-indent: 40px;">
                        Es democratizar la educación, asegurando que todos, independientemente de su posición social o recursos económicos,
                         tengan acceso a oportunidades de aprendizaje de calidad. Nos comprometemos a diseñar e implementar soluciones educativas
                          inclusivas y asequibles que empoderen a estudiantes de todas las edades, desde la educación básica hasta la formación continua. 
                      </p>
                      <br>
                    </div>
                  </div>
                </div>
                <div class="showcase-container">
                  <div class="showcase">
                    <div class="showcase-banner">
                      <img
                        src="/images/vision.jpeg"
                        
                        class="showcase-img"
                      />
                    </div>

                    <div class="showcase-content">
                      

                      <h3 class="title" style="text-align: center; font-size: 36px;font-style: italic;text-shadow: 2px 2px 4px rgb(24, 20, 95);">vision</h3>
                      

                      <p class="showcase-desc" style="text-align: justify; text-indent: 40px;">
                        Construir comunidades más equitativas, donde el conocimiento y las habilidades necesarias para el futuro sean accesibles para todos.
                         Fomentamos una cultura de aprendizaje continuo, impulsando la curiosidad, la creatividad y la colaboración. 
                         En Edusmart, estamos dedicados a ser un faro de esperanza y una herramienta de cambio para aquellos que más lo necesitan, 
                         contribuyendo así a un mundo donde cada persona pueda alcanzar sus sueños a través de la educación.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="showcase-container">
                  <div class="showcase">
                    <div class="showcase-banner">
                      <img
                        src="/images/objetivos.jpg"
                        
                        class="showcase-img"
                      />
                    </div>

                    <div class="showcase-content">
                      

                      <h3 class="title" style="text-align: center; font-size: 36px;font-style: italic;text-shadow: 2px 2px 4px rgb(24, 20, 95)">Objetivos</h3>
                      

                      <p class="showcase-desc" style="text-align: justify">
                       <b><span>• Democratizar el acceso a la educación:</span></b> Facilitar el aprendizaje de calidad a personas de cualquier edad, ubicación geográfica o nivel socioeconómico, eliminando las barreras tradicionales de tiempo y espacio. <br>
                       <b><span>•	Promover el aprendizaje continuo:</span></b> Fomentar una cultura de aprendizaje permanente, adaptándose a las necesidades cambiantes del mercado laboral y a las nuevas tecnologías. <br>
                       <b><span>•	Personalizar la experiencia de aprendizaje:</span></b> Ofrecer programas educativos flexibles y adaptados a los intereses y ritmos de cada estudiante, utilizando herramientas tecnológicas innovadoras. <br>
                       <b><span>•	Fomentar la colaboración y la comunidad:</span></b> Crear espacios virtuales donde los estudiantes puedan interactuar con docentes y compañeros, generando una experiencia de aprendizaje más enriquecedora.
 
 

                      </p>
                    </div>
                  </div>
                </div>

              </div>



              
            </div>
            

            <!--
            - PRODUCT GRID
          -->

            <div class="product-main">
              <h2 class="title" id="cursos" style="font-size: 36px">Cursos</h2>

              <div class="product-grid">
                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/matematica.jpeg"
                      
                      width="300"
                      class="product-img default"
                    />
                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>

                      
                    </div>
                    
          
                  </div>



                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Matemática</a>

                    <a href="#">
                      <h3 class="showcase-title">
                        Desentraña los misterios del universo un numero a la vez
                      </h3>
                    </a>

                   


                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/fisica.jpg"
                      
                      class="product-img default"
                      width="300"
                    />
                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>

                    </div>

                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Física</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Explora las leyes que rigen el cosmos</a
                      >
                    </h3>

                    
                  </div>
                </div>



                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/programacion.jpg"
                     
                      class="product-img default"
                      width="300"
                    />
                    
                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>


                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Programación</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Codifica tu futuro, crea soluciones innovadoras</a
                      >
                    </h3>

                   
                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/logica.png"
                      class="product-img default"
                      width="300"
                    />

                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>


                    </div>
                  </div>



                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Logica Matematica</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Piensa con claridad, resuelve con logica</a
                      >
                    </h3>

                    
                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/legislacion.jpg"
                     
                      class="product-img default"
                      width="300"
                    />
                   

                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>


                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Legislación Informatica</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Protege el ciberespacio, asegura la innovación</a
                      >
                    </h3>

                  
                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/Derivadas.jpg"
                      
                      class="product-img default"
                      width="300"
                    />
                  

                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>


                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Derivadas</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Encuentra la velocidad del cambio, domina las derivadas</a
                      >
                    </h3>

                    
                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/integrales.png"
                     
                      class="product-img default"
                      width="300"
                    />
                    

                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>

                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Integrales</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Comprende el todo, domina las integrales</a
                      >
                    </h3>

                    
                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/metodos.jpg"
                      class="product-img default"
                      width="300"
                    />


                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>


                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Metodos Numericos</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Presicion y eficiencia en cada cálculo</a
                      >
                    </h3>

                   
                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/investigacion.jpg"
                      class="product-img default"
                      width="300"
                    />
                   

                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>
                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Investigacion De Operaciones</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Optimiza decisiones, maximiza resultados</a
                      >
                    </h3>

                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/redes.jpg"

                      class="product-img default"
                      width="300"
                    />


                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>

                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Redes</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Conecta el mundo, construye puentes digitales</a
                      >
                    </h3>

                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/estadistica.jpg"
                      class="product-img default"
                      width="300"
                    />


                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>

                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Probabilidad Y Estadistica</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Desvela el poder de la probabilidad, toma decisiones informadas</a
                      >
                    </h3>
                  </div>
                </div>

                <div class="showcase">
                  <div class="showcase-banner">
                    <img
                      src="/images/products/algoritmo.jpg"
                      class="product-img default"
                      width="300"
                    />


                    <div class="showcase-actions">
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>

                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>

                    </div>
                  </div>

                  <div class="showcase-content">
                    <a href="#" class="showcase-category">Algoritmo</a>

                    <h3>
                      <a href="#" class="showcase-title"
                        >Diseña el futuro, un paso a la vez</a
                      >
                    </h3>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </main>

    <footer>
      

      

      <div class="footer-bottom">
        <div class="container">
          

          <p class="copyright">
            
            
            <a href="#">Todos los derechos reservados</a>
          </p>
        </div>
      </div>
    </footer>

  
    <script src="/javascripts/script.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
